@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: rgb(208,67,121);
}

* {
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.details-header {
  background-color: #4269b3;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.4rem;
}

.details-header p{
  margin: 0 auto;
}

.main-card p{
  font-size: 12px;
}

.main-card-home {
  background-color: #5687e3;
  display: flex;
  padding: 0.6rem 1.5rem;
  gap: 5px;
  min-height: 25vh;
}

.main-card-home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.main-card-home h1{
  font-size: 22px;
}

.main-card-home img {
   margin: auto 0;
  max-width: 50%;
}

.data-item {
  background-color: #4269b3;
  font-size: 12px;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.data {
  font-weight: bold;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: #4269b3;
  text-align: center;
  padding: 0.6rem 0.4rem;
}