@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: rgb(208, 67, 121);

  /* width: 90vw; */
}

* {
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.details-header {
  background-color: rgb(211, 70, 124);
  display: flex;
  align-items: center;
  padding: 0.6rem 0.4rem;
}

.details-header p {
  margin: 0 auto;
}

.main-card p {
  font-size: 12px;
}

.main-card-home {
  background-color: rgb(252, 81, 147);
  display: flex;
  padding: 0.6rem 1.5rem;
  gap: 5px;
  min-height: 25vh;
}

.main-card-home div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.main-card-home h1 {
  font-size: 22px;
}

.main-card-home img {
  margin: auto 0;
  max-width: 50%;
}

.data-item {
  background-color: rgb(211, 70, 124);
  font-size: 12px;
  padding: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.data {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: rgb(211, 70, 124);
  text-align: center;
  padding: 0.6rem 0.4rem;
}

.search-bar {
  border: none;
  background-color: rgb(211, 70, 124);
  width: 95vw;
  padding: 0.4rem;
  font-weight: bold;
  transition: 0.2s linear;
}

.search-bar:focus {
  outline: none;
  padding: 0.8rem;
  width: 90vw;
  font-weight: normal;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.bar {
  background-color: rgb(212, 22, 95);
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 0.4rem;
}

.states-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(212, 42, 108);
}

.bg-1 {
  background-color: rgb(252, 81, 147);
}

.bg-2 {
  background-color: rgb(211, 70, 124);
}

.bg-1:nth-child(4n + 1) {
  background-color: rgb(211, 70, 124);
}

.bg-2:nth-child(4n + 2) {
  background-color: rgb(252, 81, 147);
}

.list-item {
  height: 20vh;
  max-width: 100%;
  padding: 0.6rem 0.4rem;
  font-family: "Lato", sans-serif;
}

.state-link {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.state-link img {
  max-width: 90px;
  align-self: center;
}

.state-name {
  font-weight: bold;
  margin-top: auto;
}

.state-today-confirmed {
  font-size: 0.8rem;
}

@media only screen and (max-width: 768px) {
  .sm-img {
    width: 80vw;
    height: 290px;
    justify-content: center;
    margin-left: 20px;
  }
}
